<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VMConfigMonitoring</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery und jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <!-- Popper.js, erforderlich für Bootstrap's JavaScript-Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body>
<!--Aufbau der Seite-->
<div class="center">
    <div th:insert="~{fragments :: header}"></div>
    <br>
    <div th:insert="~{fragments :: inputFields}"></div>
    <br>
    <div th:insert="~{fragments :: buttons}"></div>
    <br>
    <h2>Informationen und Einstellungen</h2>

</div>
<!-- Modal-Dialog / Excel Datei hochgeladen -->
<div th:insert="~{fragments :: excelUploadedModal}"></div>
</div>
</div>
</body>
</html>
